<!--FB: Cambie el string 'Producto' para utilizar RESX, facilitando la gestión centralizada de los recursos-->

<div class="row">
    <ol class="breadcrumb" style="margin-bottom: 0px;">
        <li class="breadcrumb-item active">@Resources.Global.Producto</li>
    </ol>
</div>